@font-face {
    font-family: 'Max Sans';
    src: url('./MaxSans-Bold.woff2') format('woff2'),
        url('./MaxSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Max Sans';
    src: url('./MaxSans-Regular.woff2') format('woff2'),
        url('./MaxSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

