/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'), url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2'), url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.woff') format('woff'), url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf') format('truetype'), url('./fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'AvantGardeGothicITCW01Bk';
  src: url('./fonts/AvantGardeGothicITCW01Bk/font.woff');
}

@font-face {
  font-family: 'AvantGardeGothicITCW02BkObl';
  src: url('./fonts/AvantGardeGothicITCW02BkObl/font.woff');
}

@font-face {
  font-family: 'AvantGardeGothicITCW02Md ';
  src: url('./fonts/AvantGardeGothicITCW02Md/font.woff');
}

@font-face {
  font-family: 'AvantGardeGothicITCW01Bd';
  src: url('./fonts/AvantGardeGothicITCW01Bd/font.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-medium-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-regular-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-bold-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-light-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-semibold-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'hk_grotesk';
  src: url('./fonts/hkgrotesk/hkgrotesk-extrabold-webfont.woff2') format('woff2'), url('./fonts/hkgrotesk/hkgrotesk-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
    font-family: 'Max Sans';
    src: url('./fonts/maxsans/MaxSans-Bold.woff2') format('woff2'),
        url('./fonts/maxsans/MaxSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
     font-family: 'Max Sans';
    src: url('./fonts/maxsans/MaxSans-Regular.woff2') format('woff2'),
        url('./fonts/maxsans/MaxSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

